@font-face {
    font-family: 'fortuna_dotregular';
    src: url('media/fonts/fortd___-webfont.woff2') format('woff2'),
        url('media/fonts/fortd___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_bkbook';
    src: url('media/fonts/futura_book-webfont.woff2') format('woff2'),
        url('media/fonts/futura_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'broadwayengraved';
    src: url('media/fonts/b-e-r-webfont.woff2') format('woff2'),
        url('media/fonts/b-e-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'monotonregular';
    src: url('media/fonts/monoton-regular-webfont.woff2') format('woff2'),
        url('media/fonts/monoton-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*
FONTS:root {
    --font-bold: 'fortuna_dotregular', serif;
    --font-regular: 'noto_sansregular', sans-serif;
    --font-light: 'latolight', sans-serif;
}
*/

#wholepage {
    width: 1200px;
    margin: auto;
}

body {
    background-image: url("media/images/background.jpg");

    font-family: 'futura_bkbook';
    line-height: .95em;
    min-height: 800px;

}

.header h1 {
    text-align: center;
    color: white;
    font-family: 'broadwayengraved';
    font-weight: 100;
}

#result-pic {
    width: 15rem;
    height: 15rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: .5rem auto;
    border: 1px solid white;

}

/* CIRCLE CROP*/
#hero {
    display: inline;
    margin: 0 auto;
    margin-left: auto;
    height: 100%;
    width: auto;
}

form {
    color: white;
    text-align: center;
    margin: 1rem;
}

#compute-content {
    text-align: center;
}

#compute {
    text-align: center;
    border-radius: 30%;
}

#showMe {
    max-height: 15rem;
    max-width: 20rem;
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .78);

}

#showMe p {
    height: 10rem;
    width: 15rem;
    text-align: justify;
    font-size: 1rem;
    margin: auto;
}

#astrosigns button img {
    max-height: 3.6em;
    max-width: 3.6em;
    padding: 0;
    position: relative;
    top: -4px;
    right: 4.1px;
}


#astrosigns button {
    max-height: 3.3rem;
    max-width: 3rem;
    padding: 0;
    border: none;
    margin: 0;
}

#astrosigns {
    text-align: center;
    padding: .5em 0;
    margin: auto;
    max-width: 20rem;
    float: left;
}

#result-n-form {
    float: left;

}

#pic-n-btns {
    padding-top: 3em;
    margin: auto;
    position: relative;
    left: 300px;
}

/*HELP BUTTON*/

[hidden] {
    display: none !important;
}

button {
    width: 50px;
    height: 50px;
    background-color: white;
    color: purple;
    border-radius: 50%;
    border: 75;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'monotonregular';
    transition: background-color 225ms ease-in-out;
}

button:hover,
button:focus {
    background-color: purple;
    color: white;

}

button:hover {
    cursor: pointer;
}

.modal {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal .blanket {
    background-color: rgba(0, 0, 0, .8);

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.modal-body {
    background-color: rgba(0, 0, 0, .8);
    border: 1rem solid purple;
    border-radius: 3%;
    color: white;
    line-height: 1.2em;

    height: 45vh;
    max-width: 50vw;

    position: relative;
    z-index: 101;

    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

#btn-modal-close {
    color: purple;
    border-radius: 0;
    width: 7rem;
    padding: 0;
}

#btn-modal-close:hover {
    background-color: purple;
    color: white;
}

#btn-modal-open,
.class {
    margin-left: .5em;
    margin-top: .75em;
    position: absolute;
    top: 0px;
    font-size: 1.5rem;
    text-align: center;

}

h3,
h4 {
    margin: .5rem;
}

h3 {
    padding-top: .23rem;
    font-size: 1.5rem;
}

.footer {
    color: white;
    text-align: center;
    margin: auto;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 500px;

}
